Source: hamonikr-ff
Section: utils
Priority: optional
Maintainer: HamoniKR <pkg@hamonikr.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: hamonikr-ff
Architecture: all
Depends: bat,
         fzf,
         vim,         
         xclip,                  
         ${misc:Depends},
Description: Terminal file finder tool for HamoniKR
 직관적인 터미널 파일 검색 및 편집 프로그램.
